/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --primary-white: #ffffff;
  --primary-black: #000000;
  --primary-gray: #efefef;
  --primary-dark-gray: #535353;
  --primary-blue: #0d72ea;
  --primary-greyish-blue: #2e77d0;

  --secondary-black: #191414;
  --secondary-gray: #cccccc;
}

/* GLOBAL */
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* NAVBAR, BANNER AND PREMIUM FEATURES */
#vidal-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

/* Barra de navegacao */
nav{
    width: 100%;
    color: white;
    background-color: black;
}
nav a{
    color: white;
}
nav .wrapper{
    display: flex;
    max-width: 1150px;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
nav .wrapper #logo{
    font-size: 1.6em;
    display: flex;
    align-items: center;
    font-weight: 600;
    width: 135px;
}
nav .wrapper #links{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 0.95em;
    font-weight: bold;
}
#links > a:hover{
    color:  #18cc57;
}

#menu img{
    width: 30px;
    display: none;
}


/* Banner */
.wrapper-header{
    width: 100%;
    color: white;
    background-color: #18cc57;
}
header#banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    padding: 60px 0;
    max-width: 1150px;
    gap: 33px;
    margin: 0 auto;
}
header#banner .title{
    font-size: 2.4em;
    font-weight: bold;
}
header#banner .description{
    font-size: 1.5em;
    font-weight: 100;
}

.btn{
    padding: 15px 35px;
    border-radius: 50px;
    font-weight: 800;
    cursor: pointer;
}
.primary{
    border: 2px solid rgb(36, 36, 36);
    background-color: rgb(36, 36, 36);
    color: white;
}
.secondary{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: 700;
}
.primary:hover{
    background-color: black;
    border: 2px solid black;
}
.secondary:hover{
    background-color: #7beca3;
}

/* Termos */
.terms{
    font-size: 0.6em;
}
.terms .link{
    text-decoration: underline;
}


/* Pq ser premium */
.wrapper-features{
    width: 100%;
    color: black;
    background-color: white;
}

#features-premium{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    padding: 60px 0;
}

#features-premium > .title{
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 55px;
}
#features-premium .features{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1100px;
    width: 1100px;
    flex-wrap: wrap;
}
#features-premium .feature{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    text-align: center;
    width: 25%;

}
#features-premium .feature > img{
    width: 150px;
}
#features-premium .feature .title{
    font-size: 1.15em;
    font-weight: bold;
    margin-bottom: 15px;
}
#features-premium .feature .description{
    font-size: 0.9em;
}

/* Media queries */
@media only screen and (max-width: 1200px){
    nav .wrapper, header#banner{
        max-width: 950px;
        padding: 0 20px;
    }

    header#banner{
        padding: 6% 20px 4% 20px;
    }

    #features-premium .features{
        max-width: 900px;
    }
}

@media only screen and (max-width: 900px){
    header#banner .title{
        font-size: 1.9em;
    }
    header#banner .description{
        font-size: 1.3em;
    }

    #features-premium .features{
        width: 80%;
        row-gap: 20px;
    }
    #features-premium .feature{
        width: 40%;
    }
}

@media only screen and (max-width: 800px){
    nav .wrapper #links{
        display: none;
    }
    #menu img{
        display: inline-block;
    }

    header#banner{
        gap:25px;
    }
    header#banner .title{
        font-size: 1.8em;
    }
    header#banner .description{
        font-size: 1.1em;
    }
    header#banner .buttons{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        justify-items: flex-start;
        align-items: center;
        gap: 10px;
    }
    header#banner .btn{
        width: 100%;
    }

    #features-premium .features{
        flex-direction: column;
        gap: 20px;
    }
    #features-premium .feature{
        flex-direction: row;
        width: 100%;
        text-align: left;
    }
    #features-premium .text{
        margin-left: 10px;
    }

}

@media only screen and (max-width: 650px){
    header#banner{
        gap: 15px;
    }
    header#banner .title{
        font-size: 1.4em;
    }
    header#banner .description{
        font-size: 1em;
    }
    header#banner .btn{
        width: 100%;
        padding: 14px 34px;
        font-size: 0.8em;
    }
}

/* PREMIUM PLANS */
div.premium-wrapper{
  width: 100%;
  background-color: var(--primary-white);
}

.premium-plans .premium-plans__wrapper .wrapper__header .header__payment-methods,
.premium-plans .premium-plans__wrapper .wrapper__header .header__payment-methods .payment-methods__bank-cards,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__offers .offers__offer {
  display: flex;
  align-items: center;
}

.premium-plans .premium-plans__wrapper,
.premium-plans .premium-plans__wrapper .wrapper__cards,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__offers {
  display: flex;
  flex-direction: column;
}

.premium-plans .premium-plans__wrapper .wrapper__header .header__payment-methods .payment-methods__bank-cards,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header,
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__offers .offers__offer {
  gap: 0.5rem;
}

/* PREMIUM PLANS */
.premium-plans {
  background-color: var(--primary-gray);
}

.premium-plans .premium-plans__wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 2.25rem 1rem 3.75rem;
  gap: 3rem;
}

/* Header */
.premium-plans .premium-plans__wrapper .wrapper__header {
  text-align: center;
}

/* - Title */
.premium-plans .premium-plans__wrapper .wrapper__header .header__title {
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

/* - Subtitle */
.premium-plans .premium-plans__wrapper .wrapper__header .header__subtitle {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

/* - Payment methods */
.premium-plans .premium-plans__wrapper .wrapper__header .header__payment-methods {
  justify-content: center;
  gap: 0.375rem;
}

.premium-plans .premium-plans__wrapper .wrapper__header .header__payment-methods .payment-methods__bank-cards .bank-cards__card-image {
  height: 20px;
  aspect-ratio: auto;
}

.premium-plans .premium-plans__wrapper .wrapper__header .header__payment-methods .payment-methods__more-methods-message {
  text-decoration: underline;
}

/* Cards */
.premium-plans .premium-plans__wrapper .wrapper__cards {
  align-items: center;
  gap: 1rem;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card {
  background-color: var(--primary-white);
  max-width: 27.5rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* - Header */
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels {
  font-size: 0.875rem;
  font-weight: bolder;
  flex-wrap: wrap;
  gap: 0.5rem 0.25rem;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels .labels__label {
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--primary-blue);
  border-radius: 0.25rem;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels .labels__label.labels__label--full {
  color: var(--primary-white);
  background-color: var(--primary-blue);
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels .labels__label.labels__label--outline {
  color: var(--primary-blue);
  background-color: var(--primary-white);
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels .labels__label.labels__label--gray {
  border-color: var(--primary-greyish-blue);
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels .labels__label.labels__label--full.labels__label--gray {
  background-color: var(--primary-greyish-blue);
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__labels .labels__label.labels__label--outline.labels__label--gray {
  color: var(--primary-greyish-blue);
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__plan-info .plan-info__title {
  font-size: 1.5rem;
  margin-bottom: 0.375rem;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header .header__plan-info .plan-info__price {
  margin-bottom: 0.25rem;
}

/* - Divider */
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__divider {
  margin: 1.25rem 0 2rem;
  border-color: var(--secondary-gray);
}

/* - Body */
.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__offers {
  gap: 0.875rem;
  margin-bottom: 1.5rem;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__offers .offers__offer .offer__check-icon {
  min-width: 1.5rem;
  aspect-ratio: 1/1;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__buy-button {
  color: var(--primary-white);
  font-size: 0.875rem;
  font-weight: bold;
  text-align: center;

  background-color: var(--secondary-black);
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-radius: 9999px;
  display: block;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__buy-button:hover {
  transform: scale(1.05);
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__terms-and-conditions {
  color: var(--primary-dark-gray);
  font-size: 0.75rem;
}

.premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__terms-and-conditions .terms-and-conditions__link {
  color: var(--primary-dark-gray);
  text-decoration: underline;
}

/* Responsiveness */
/* - Increase the height of the section */
@media (min-width: 768px) {
  .premium-plans .premium-plans__wrapper {
    padding-top: 4.75rem;
    padding-bottom: 6.75rem;
  }
}

/* - Increase title size and display plan cards next to each other */
@media (min-width: 1200px) {
  .premium-plans .premium-plans__wrapper .wrapper__header .header__title {
    font-size: 2.125rem;
  }

  .premium-plans .premium-plans__wrapper .wrapper__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
  }

  .premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__header {
    height: 12rem;
  }

  .premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body {
    flex-grow: 1;
  }

  .premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__buy-button {
    margin-top: auto;
  }

  .premium-plans .premium-plans__wrapper .wrapper__cards .cards__card .card__body .body__terms-and-conditions {
    height: 6.25rem;
  }
}
